<div style="width: 1000px; margin: auto;">
    <h1 style="text-align: center;">List Produits</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produit Name</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let x of Prods;let i=index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{x.Name}}</td>
          <td>{{x.Discription}}</td>
          <td>{{x.Quantity}}</td>
          <td>
            <button type="submit" class="btn btn-success" routerLink="/update-produit/{{x.id}}">
            Update
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deletelist(i)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  