<div class="container row">
    <div class="offset-3 col-6">
      <h1 *ngIf="!showUpdateButton">Add List To Do</h1>
      <h1 *ngIf="showUpdateButton">Update List</h1>
      <form [formGroup]="addlistForm" (ngSubmit)="addlist()">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" formControlName="Name" placeholder=" name"
          [ngClass]="{ 'is-invalid': submitted && addlistForm.controls.Name.errors, 'is-valid': submitted && !addlistForm.controls.Name.errors }">
        </div>
        <mat-error *ngIf="submitted && addlistForm.controls.Name.hasError('required')">
            Name is required
        </mat-error>
        <div class="form-group">
          <label>Discription</label>
          <textarea class="form-control" formControlName="Discription" placeholder="Discription"
          [ngClass]="{ 'is-invalid': submitted && addlistForm.controls.Discription.errors, 'is-valid': submitted && !addlistForm.controls.Discription.errors }"></textarea>
        </div>
        <mat-error *ngIf="submitted && addlistForm.controls.Discription.hasError('required')">
            Discription is required
        </mat-error>
        <button class="form-control btn btn-primary" style="margin: 10px auto;" type="submit" *ngIf="!showUpdateButton" >Add </button>
        <button class="form-control btn btn-primary" style="margin: 10px auto;" type="button" *ngIf="showUpdateButton" (click)="saveUpdate()" >Save Update </button>
      </form>
    </div>
  </div>
  <app-list-todo [lists]="UserData" (updateEvent)="updateList($event)" (deleteEvent)="deleteList($event)"></app-list-todo>
